<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Sample Suite" parallel="classes">
  <test name="Test">
  <parameter name = "browser" value="firefox"/>
  <classes>
  	<class name ="com.testsuite.RockWellSmokeTest"/>
  </classes>
  </test> 
</suite> 
